{% extends 'base.html' %}
{% block title %}Предметы{% endblock title %}
{% block h1%}
    Предметы
{% endblock h1 %}
{% block main %}
    <table class="m-3">
    <tr><th>Конфигурация</th><th>файл</th><th></th></tr>
    {% for action in object_list %}

          <tr>
                <td>
                  {% if action.name != '' %}
                      {% else %}
                  {% endif %}
                </td>
                <td>
                  {{ action.file.name }}
                </td>
                <td>
                    <a href="{% url 'read-action' action.pk %}" class="btn btn-outline-danger btn active">
                        Подробнее
                    </a>
                </td>
          </tr>

    {% empty %}
          <li>Пока нет проверочных файлов.</li>
    {% endfor %}
    </table>
    <p><a href="{% url 'create-action' %}" class="btn btn-outline-danger btn active">Добавить новый поверочный файл</a></p>
{% endblock main %}